<script src="https://cdn.rawgit.com/download/glyphicons/0.1.0/glyphicons.js"></script>
<div class="background">
    <app-menu></app-menu>
</div>

<div class="tp">
  <div style="margin-bottom: 20px" *ngFor='let question of questions; let i = index' class='inp'>
      <h4><span style="background-color: orange; border-radius: 50px;" class="badge">#{{i+1}}</span>&nbsp;{{question}}</h4>
      <label style="margin-right:35px;"><input type="radio" name="rad">1</label>
      <label style="margin-right:35px;"><input type="radio" name="rad">2</label>
      <label style="margin-right:35px;"><input type="radio" name="rad">3</label>
      <label style="margin-right:35px;"><input type="radio" name="rad">4</label>
      <label style="margin-right:35px;"><input type="radio" name="rad">5</label>
  </div>
</div>