<script src="https://cdn.rawgit.com/download/glyphicons/0.1.0/glyphicons.js"></script>
<div class="background">
    <app-menu></app-menu>
</div>

<div class="tp">
  <div style="margin-bottom: 20px" *ngFor='let question of questions; let i = index' class='inp'>
      <h4><span style="background-color: orange; border-radius: 50px;" class="badge">#{{i+1}}</span>&nbsp;{{question}}</h4>
      <label style="margin-right:35px;"><input type="radio" name="rad">1</label>
      <label style="margin-right:35px;"><input type="radio" name="rad">2</label>
      <label style="margin-right:35px;"><input type="radio" name="rad">3</label>
      <label style="margin-right:35px;"><input type="radio" name="rad">4</label>
      <label style="margin-right:35px;"><input type="radio" name="rad">5</label>
  </div>
  <fieldset style="margin-top: 80%; margin-bottom: 10%; width:20%; color: black; " class="inp">
    <div style="border: 3px solid grey;">
        <legend style="margin-left: 20%;">Legend</legend>
        <p style="margin-left: 3%; background-color: red;" class="badge">1-Total Disagreement</p><br>
        <p style="margin-left: 3%; background-color: orangered;" class="badge">2-Partial Disagreement</p><br>
        <p style="margin-left: 3%; background-color:orange;" class="badge">3-Neutre</p><br>
        <p style="margin-left: 3%; background-color: greenyellow;" class="badge">4-Partial Agreement</p><br>
        <p style="margin-left: 3%; background-color: green;"class="badge">5-Total Agreement</p>
        </div>
</fieldset>
</div>