
<script src="https://cdn.rawgit.com/download/glyphicons/0.1.0/glyphicons.js"></script>
<div class="background">
    <app-menu></app-menu>
</div>
<p class="inp tp">Question #1</p>
<div class="input-group mb-3 inp">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">1.</span>
    </div>
    <input type="text" class="form-control" id="q1" aria-label="Default" aria-describedby="inputGroup-sizing-default">
</div>>

<p class="inp">Question #2</p>
<div class="input-group mb-3 inp">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">2.</span>
    </div>
    <input type="text" class="form-control" id="q2" aria-label="Default" aria-describedby="inputGroup-sizing-default">
</div>>

<p class="inp">Question #3</p>
<div class="input-group mb-3 inp">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">3.</span>
    </div>
    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
</div>>

<p class="inp">Question #4</p>
<div class="input-group mb-3 inp">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">4.</span>
    </div>
    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
</div>>

<p class="inp">Question #5</p>
<div class="input-group mb-3 inp">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">5.</span>
    </div>
    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
</div>>

<div class="next">
    <button type="button" class="btn btn-info">Next </button>
    <span class="glyphicon glyphicon-chevron-right"></span>
</div>