
<script src="https://cdn.rawgit.com/download/glyphicons/0.1.0/glyphicons.js"></script>
<div class="background">
    <app-menu></app-menu>
</div>
<div class="tp">
    <div *ngFor='let input of inputs' class='inp'>
        <p>Question #{{input}}</p>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">{{input}}</span>
            </div>
            <input type="text" class="form-control" id="q1" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>
    </div>
</div>
<button type="button" class="btn btn-info removeInput" (click)='deleteInput()'>Remove Question </button>
<button type="button" class="btn btn-info addInput" (click)='addInput()'>Add Question </button><\br>

<div class="next">
    <button type="button" class="btn btn-info" (click) = "seeQuestions()">Next </button>
    <span class="glyphicon glyphicon-chevron-right"></span>
</div>