.tp{
    margin-top:5%
}

.inp {
    margin-left: 30%;
    width: 40%;
}

.addInput {
    margin-left: 90%;
}

.removeInput {
    margin-left: 20%;
}

.inp-sz{
    width: 100px;
}

.background{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url("../../../resources/background-register.png") center fixed;
    background-size: cover;
    z-index: 10;
    overflow-x: auto;
    overflow-y: auto;
}

.next{
    margin-left: 90%;
}