
<div class="background">
  <div class="tp">
    <div class="inp">
      <h2 style="margin-bottom:30px;">Search forms by a valide email address</h2>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
        </div>
        <input type="text" class="form-control" id="email" aria-label="Default" aria-describedby="inputGroup-sizing-default">     
      </div>
      <button style="margin-left:300px;" type="button" class="btn btn-info" (click)='search()'>Search </button>
    </div>
  </div>
</div>
