<div class="background">
    <div class='userBox'>
       <div class='register'>
           <form>
             <h2 class = "registerTitle">Sing up</h2>
             <input class = "registerInputs" type="text" ngModel = "username" id="username" placeholder="Username...">
             <input class = "registerInputs" type="text" ngModel = "firstName" id="firstName" placeholder="First Name...">
             <input class = "registerInputs" type="text" ngModel = "lastName" id="lastName" placeholder="Last Name...">
             <input class = "registerInputs" type="email" ngModel = "email" id="email" placeholder="Email...">
             <input class = "registerInputs" type="text" ngModel = "companyName" id="companyName" placeholder="Company name...">
             <input class = "registerInputs" type="password" ngModel = "password" id="password" placeholder="Password...">
             <input class = "registerInputs" type="password" id="repeatPassword" placeholder="Repeat Password...">
             <button class = "registerButton" type="submit" (click)='register()'>Sign up</button>
           </form>
       </div>
       <div class='login'>
           <h2 class = "loginTitle">Sign in</h2>
           <input class = "loginInputs" type="text" id="usernameLogin" placeholder="Username...">
           <input class = "loginInputs" type="password" id="passwordLogin" placeholder="Password...">
           <div class="loginError"><strong>{{loginError}}</strong></div>
           <button class = "loginButton" type="submit" (click)='login()'>Sing in</button>
       </div>
       <div class='switch' [@floatDiv] = "float ? 'left' : 'right'">
           <p class="switchText">{{text}}</p>
           <button  class="switchButton" (click)="switch()">{{buttonText}}</button>
       </div>
    </div>
</div>