<div class="background">
    <div class='userBox'>
       <div class='register'>
           <form>
             <h2 class = "registerTitle">Sing up</h2>
             <input class = "registerInputs" type="text" name="username" placeholder="Username...">
             <input class = "registerInputs" type="text" name="firstName" placeholder="First Name...">
             <input class = "registerInputs" type="text" name="lastName" placeholder="Last Name...">
             <input class = "registerInputs" type="email" name="email" placeholder="Email...">
             <input class = "registerInputs" type="text" name="companyName" placeholder="Company name...">
             <input class = "registerInputs" type="password" name="password" placeholder="Password...">
             <input class = "registerInputs" type="password" name="repeatPassword" placeholder="Repeat Password...">
             <button class = "registerButton" type="submit">Sign up</button>
           </form>
       </div>
       <div class='login'>
           <h2 class = "loginTitle">Sign in</h2>
           <input class = "loginInputs" type="text" name="username" placeholder="Username...">
           <input class = "loginInputs" type="password" name="password" placeholder="Password...">
           <button class = "loginButton" type="submit">Sing in</button>
       </div>
       <div class='switch' [@floatDiv] = "float ? 'left' : 'right'">
           <p class="switchText">{{text}}</p>
           <button  class="switchButton" (click)="switch()">{{buttonText}}</button>
       </div>
    </div>
</div>